<!DOCTYPE html>
<html>

<head>
  <title>Welcome to Vue</title>
  <link rel="stylesheet" href="./prism.css">
  <link rel="stylesheet" href="./styles.css">
  <script src="./prism.js"></script>
  <script src="./vue.min.js"></script>
  <script src="../../dist/index.js"></script>
</head>

<body>
  <div id="app">
    <img id="logo" src="./images/logo.png" alt="Vue logo">
    <h1>欢迎使用vue-uweb插件</h1>
    <h2>1. 安装</h2>
    <h3>npm</h3>
    <pre><code class="language-html">npm install vue-uweb --save</code></pre>
    <h3>直接在页面中引用</h3>
    <pre><code class="language-html">&ltscript src="../node_modules/vue-uweb/dist/index.js">&lt/script></code></pre>
    <h3>通过es6模块加载</h3>
    <pre><code class="language-javascript">import UWeb from 'vue-uweb'</code></pre>
    <h3>使用vue-uweb</h3>
    <pre><code class="language-javascript">Vue.use(UWeb,'YOUR_SITEID_HERE')</code></pre>


    <h2>2. uweb directives</h2>
    <h3>track-event</h3>
    <button v-track-event.click="'click,e vent'">统计click事件</button>
    <pre><code class="language-html">&ltbutton v-track-event.click="'click, event''">&lt/button></code></pre>

    <button v-track-event="'shortcut, event'">统计click事件简写</button>
    <pre><code class="language-html">&ltbutton v-track-event="'shortcut, event'">&lt/button></code></pre>

    <input v-track-event.keypress="'keypress, event'" placeholder="统计keypress事件" v-model="content"></input>
    <pre><code class="language-html">&ltinput v-track-event.keypress="'keypress, event'"></code></pre>

    <button v-track-event="'click, event'">以字符串传递参数</button>
    <a href="http://open.cnzz.com/a/api/trackevent/">关于参数和顺序</a>
    <pre><code class="language-html">&ltbutton v-track-event="'click, event'">&lt/button></code></pre>

    <button v-track-event="{category:'click', action:'event'}">以对象字面量传递参数</button>
    <pre><code class="language-html">&ltbutton v-track-event="{category:'click', action:'event'}">&lt/button></code></pre>

    <h3>track-pageview</h3>
    <div v-track-pageview="'/bar'">指定受访页面</div>
    <pre><code class="language-html">&ltdiv v-track-pageview="'/bar'">&lt/div></code></pre>

    <div v-track-pageview="'/tar, https://github.com/raychenfj'">以字符串指定受访页面和来源</div>
    <pre><code class="language-html">&ltdiv v-track-pageview="'/tar, https://github.com/raychenfj'">&lt/div></code></pre>

    <div v-track-pageview="{content_url:'/zoo', referer_url:'https://github.com/raychenfj'}">以对象字面量指定受访页面和来源</div>
    <pre><code class="language-html">&ltdiv v-track-pageview="{content_url:'/zoo', referer_url:'https://github.com/raychenfj'}">&lt/div></code></pre>

    <a href="/foo" v-track-pageview>通过a标签指定受访页面</a>
    <pre><code class="language-html">&lta href="/foo" v-track-pageview>&lt/a></code></pre>

    <h3>auto-pageview</h3>
    <span v-auto-pageview="auto">autoPageView: {{auto}}</span>
    <input type="checkbox" v-model="auto">
    <div>启用 auto-pageview</div>
    <pre><code class="language-html">&ltdiv v-auto-pageview=true>&lt/div></code></pre>
    
    <div>停止 auto-pageview</div>
    <pre><code class="language-html">&ltdiv v-auto-pageview=false>&lt/div></code></pre>

    <h2>3. 编程式调用</h2>
  </div>
</body>
<script src="./script.js"></script>

</html>